*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: #f6f1ba;
  padding-top: 50px;
}
.layout{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
header{
  background-color: #3398c0;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 20px;
  color: #f6f1ba;
}
